<div class="flex-row col-xl-12">
  <div class="card col-xl-4 p-4 card-rounded">
    <div class="card card-header text-center">
      <h2>Your Profile </h2>
      <h2>{{user.username}}</h2>
    </div>
  </div>
</div>

<div class="row">
  <h1 class="col-6">Your Posts</h1>
  <h1 class="col-6">Add post</h1>
  
</div>

<div class="hidden newpost">
  <center><section class="col-xl-12 w-100 py-5 display-flex flex-column align-around">
    <div class="responsivewidth">
      <center><h2>New Post</h2></center>
      <div class="form">
        <textarea class="form-input responsivewidth" rows="2" cols="50" type="text" id="post-title" placeholder="enter your new posts title here!"></textarea>
      </div>
      <div class="form">
        <textarea  class="form-input responsivewidth" rows="8" cols="50" id="post-message" placeholder="enter your new post here!"></textarea>
      </div>
      <center><div class="form responsivewidth">
        <button class="btn btn-primary responsivewidth createPostButton" type="submit">Create</button>
      </div></center>
    </div>
  </section></center>
</div>

<div class="flex-row">
  {{#each posts as |post| }}
  <div class="flex-column flex-no-wrap col-xl-4 w-25">
    <div class="display-flex postCard" data-id={{post.id}}>
      <div class="card p-4 card-rounded" data-id={{post.id}}>
        <div class="card card-header" data-id={{post.id}}>
          <h2 data-id={{post.id}}>{{post.title}} </h2>
        </div>
        <div class="card card-body card-rounded" data-id={{post.id}}>
          <p data-id={{post.id}}>Posted On: {{post.createdAt}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script src="/js/loadPost.js"></script>

