<div class="flex-row col-xl-12">
  <div class="card col-xl-4 p-4 card-rounded">
    <div class="card card-header text-center">
      <h2>Your Profile </h2>
      <h2>{{user.username}}</h2>
    </div>
  </div>
</div>


<h1>Your Posts</h1>

<div class="flex-row">
  {{#each posts as |post| }}
  <div class="flex-column flex-no-wrap col-xl-4 w-25">
    <div class="display-flex postCard" data-id={{post.id}}>
      <div class="card p-4 card-rounded" data-id={{post.id}}>
        <div class="card card-header" data-id={{post.id}}>
          <h2 data-id={{post.id}}>{{post.title}} </h2>
        </div>
        <div class="card card-body card-rounded" data-id={{post.id}}>
          <p data-id={{post.id}}>Posted On: {{post.createdAt}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script src="/js/loadPost.js"></script>

