<div class="flex-row">
  {{#each userPosts as |userPost| }}
  <div class="pt-5 col-xl-4 w-25">
    <div class="display-flex postCard" data-id={{userPost.id}}>
      <div class="card p-4 card-rounded" data-id={{userPost.id}}>
        <div class="card card-header" data-id={{userPost.id}}>
          <h2 data-id={{userPost.id}}>Author: {{userPost.User.username}}</h2>
          <h2 data-id={{userPost.id}}>{{userPost.title}} </h2>
        </div>
        <div class="card card-body card-rounded" data-id={{userPost.id}}>
          <p data-id={{userPost.id}}>Posted On: {{format_date userPost.createdAt}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script src="/js/loadPost.js"></script>