<div class="pt-5 row flex-wrap">
  <div class="col-xl-9">
    <div class="">
      <div class="display-flex">
        <div class="w-100">
          <div class="card p-4 card-rounded">
            <div class="card card-header">
              <h2>Author: {{post.User.username}}</h2>
              <h2>{{post.title}} </h2>
            </div>
            <div class="card card-body card-rounded">
              <p>{{post.body}}</p>
            </div>
            <div class="card card-body card-rounded">
              <p>Posted On: {{post.createdAt}}</p>
            </div>
            <div class="card card-footer card-rounded">
              <h3 id="selectedPost" data-id="{{post.id}}" class="w-100 commentsTag">Comments</h3>

              {{!-- {{#each comments as |comment| }}
              {{> comments}}
              {{/each}} --}}
            </div>
            <div class="card card-footer card-rounded">
              <form class="form login-form">
                <div class="form-group">
                  <label for="comment-form">Comment:</label>
                  <input name="comment-body" class="form-input" type="text" placeholder="comment text goes here" />
                <div class="form-group">
                  <button id="commentButton" class="btn btn-primary" type="submit">Comment</button>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>